<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{> scripts}}
   {{> header}}
   <div class="interface">
       {{> sidebar}}
   {{> map}}
   </div>
    
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/js/api.js"></script>
<script src="/js/here.js"></script>

</html>
