<header>
    <div class="logotype">
        <div class="logotype_image">
            <img src="img/logo.png">
        </div>
        <div class="logotype_text">
            CityBlogging
        </div>
    </div>   
    <div class="search">
        <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search places">
      <img src="img/search.png">
   </div>
</div>
    </div>
    <div class="menu">
        <div class="menu_home">
            Home
        </div>
        <div class="menu_posts">
            Posts
        </div>
        <div class="menu_live">
            <img src="img/fire.png">Live
        </div>
    </div>
</header>