<div class="sidebar">
    <div class="option">
        <div class="option_icon">
            <img src="img/categories.png">
        </div>
        <div class="option_text">
            Categories
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                5
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/My%20posts.png">
        </div>
        <div class="option_text">
            My post
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                12
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/Latest%20activity.png">
        </div>
        <div class="option_text">
           Latest activity
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                9
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/Around%20me.png">
        </div>
        <div class="option_text">
            Around me
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                4
            </div>
        </div>
        <div class="option_include">
            <div class="option_users">
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@karina_explore
                </div>
                <div class="option_user_value">
                    3
                </div>
               </div>
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@sasha_19
                </div>
                <div class="option_user_value">
                    1
                </div>
               </div>
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@pokatilov_xxx
                </div>
               </div>
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">danya_mp4
                </div>
               </div>
                
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/Followers.png">
        </div>
        <div class="option_text">
            Followers
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                17
            </div>
        </div>
        <div class="option_include">
            <div class="option_users">
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@noname
                </div>
                <div class="option_user_value">
                    8
                </div>
               </div>
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@tatoo_saloon
                </div>
                <div class="option_user_value">
                    5
                </div>
               </div> 
               <div class="option_wrapper">
                   <div class="option_user">
                    <img src="img/arrow.png">@free_coupons
                </div>
                <div class="option_user_value">
                    4
                </div>
               </div>        
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/statistics.png">
        </div>
        <div class="option_text">
            Statistics
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                <img src="img/arrow.png">
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_icon">
            <img src="img/settings.png">
        </div>
        <div class="option_text">
            Settings
        </div>
        <div class="option_value">
            <div class="option_value__wrap">
                <img src="img/arrow.png">
            </div>
        </div>
    </div>
</div>