<div class="user_post user_subscribed">
    <div class="user_post_header">
        <div class="user_post_pic"></div>
        <div class="user_post_name">
            <div class="user_post_realName">
                Сергей Сергеевич
            </div>
            <div class="user_post_login">
                @serg_gray
            </div>
        </div>
        <div class="user_post_info">
            <img src="img/dots.png">
        </div>
    </div>
    <div class="user_post_textField">
        Ребята, тут скидки в Дикси.<br>
Кола 2л - 39 рублей<br>
Шоколадка Alpen Gold - 29 рублей<br>
Не вижу причин игнорировать эту акцию<br>
    </div>
    <div class="user_post_stats">
        <div class="user_post_stat">
            <div class="stat_icon">
                <img src="img/like.png">
            </div>
            <div class="stat_value">
                453
            </div>
        </div>
        <div class="user_post_stat">
            <div class="stat_icon">
                <img src="img/distance.png">
            </div>
            <div class="stat_value">
                1.3km
            </div>
        </div>
        <div class="user_post_action">
        <button class="subscribe_btn">Подписаться</button>
        </div>
    </div>
</div>