<div class="place_post">
    <div class="place_post_header">
        <div class="place_post_pic"></div>
        <div class="place_post_name">
            <div class="place_post_realName">
                "Якитория"
            </div>
            <div class="place_post_login">
                @yakitory_online
            </div>
        </div>
        <div class="place_post_info">
            <img src="img/dots.png">
        </div>
    </div>
    <div class="place_post_textField">
        Ресторан японской кухни для всей семьи.<br>
        vk: vk.com/yakitory_clib<br>
        inst: instagram/yakitory_1
    </div>
    <div class="place_post_stats">
        <div class="place_post_stat">
            <div class="stat_icon">
                <img src="img/like.png">
            </div>
            <div class="stat_value">
                1k
            </div>
        </div>
        <div class="place_post_stat">
            <div class="stat_icon">
                <img src="img/distance.png">
            </div>
            <div class="stat_value">
                2.3km
            </div>
        </div>
        <div class="place_post_action">
        <button class="subscribe_btn">Подписаться</button>
        </div>
    </div>
</div>